Page {
  font-family: 'Mohave';
  background-color: #5676e8;
}

label {
  text-align: center;
  font-size: 20;
  text-transform: uppercase;
  margin-top: 20;
}
.title {
  font-size: 30;
  color: #6a5cff;
}
.drawer {
  color: white;
  background-color: #5676e8;
}
.fa {
  font-family: FontAwesome, fontawesome-webfont;
  color: #6a5cff;
}
